<!-- PARALLAX 1 -->
<div class="hero" id="enquire-administration-console-cover">
       <span>
        <h1>Enquire Administration Console</h1>
      </span>

  <img src="../../../images/portfolio/enquire-administration-console/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      <a href="https://enquire.net.au/">Enquire</a> is a revolutionary Grant Management system launching to global
      success, working in partnership with
      governments all over the world to provide a reliable system for the distribution of government funds to community
      improvement projects all over their country.
    </p>
    <p>
      The Administration Console is the backbone of the Enquire System. It allows each client to configure their own
      Enquire Instance to suit their companies needs. There is no one solution to grant management, and the
      Administration Console allows clients to maintain their own data, update their own forms, and modify
      Enquire extensively, to suit their needs. As their needs change and grow, so does Enquire.
    </p>

    <gallery></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>

  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

