<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>Enquire Management Portal</h1>
      </span>

  <img src="../../../images/portfolio/enquire-management-portal/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      <a href="https://enquire.net.au/">Enquire</a> is a revolutionary Grant Management system launching to global
      success, working in partnership with
      governments all over the world to provide a reliable system for the distribution of government funds to community
      improvement projects all over their country.
    </p>
    <p>
      The Management Portal is the center of the Enquire system. It's where users create and maintain
      projects, process payments, track tasks and trigger workflows. This is the portal that ensures everything goes as
      smoothly as possible within the project. It is highly complex, incredibly efficient, and exceptionally secure. The
      Management Portal underwent many UI changes as the requirements developed, until we came to its latest design.
      Users have reported that this UI is significantly easier to follow than what they have used in the past, and has simplified their working process
      dramatically. For such a complex system, it was incredibly rewarding to hear users refer to it as 'intuitive' and
      'simple'.
    </p>

    <gallery></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>
  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>
