<!-- PARALLAX 1 -->
<div class="hero" id="interaction-exploration-cover">
       <span>
        <h1>Interaction Exploration</h1>
      </span>

  <img src="../../../images/portfolio/interaction-exploration/hero.png"/>
</div>


<!-- PORTFOLIO -->
<div class="section-wrapper">


  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      The 'Interaction Exporation' project is a self improvement project that aims to sharpen my skills in the
      wireframe, mockups, and prototyping area, with regards to interaction and motion.
      These low fidelity interaction concepts were developed in <a href="https://atomic.io/">Atomic.io</a>,
      a revolutionary new prototyping tool that has made exploring motion between elements much more accessible for
      designers.
    </p>

    <p>
      I have found that using a tool such Atomic, Adobe Illustrator, or a simple pen on paper, has increased my
      productivity tremendously. They facilitate free thinking and problem solving, with the 'user experience first'
      goal in mind, increasing user understand within my designs.
    </p>

    <div class="tools-wrap margin-auto">
      <div class="tag">Prototyping</div>
      <div class="tag">Design</div>
      <div class="tag">Interaction</div>
    </div>

    <gallery class="dark-arrows" id="interaction-gallery"></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>

  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

