<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>Personal Identity</h1>
      </span>

  <img src="../../../images/portfolio/personal-identity/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      Following a major design and marketing rebrand of my personal design identity, this project aims to demonstrate
      the potential for branding and marketing items using this new identity. This kind of branding helps position a
      company, or designer such as myself, and illustrates to potential clients the calibre of my work.
    </p>
    <p>
      The position my work takes now, is one of sophistication, minimalism, and elegance. This is not to say I don't
      excel at other fields, but rather, I reach my fullest design potential when I can work with these styles in mind.
    </p>

    <gallery></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>

  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

