$text-primary-color: rgba(0, 0, 0, 0.7);
$text-secondary-color: rgba(0, 0, 0, 0.5);
$accent-color: #00a696;

$background-color-hover: #d4d4d4;

$border-regular: #eeeeee;
$border-dark: #bbbbbb;

$icon-light: #a5a5a5;


@import "_portfolio";
@import "_preloaders";
@import "_typography";
@import "_responsive";

