<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>Tactiv Signage</h1>
      </span>

  <img src="../../../images/portfolio/tactiv-signage/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">


  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      <a href="https://tactiv.net.au/">Tactiv</a> is a cutting edge Grant Management SAAS company based in Brisbane, Australia, with clients globally. I
      have worked with them closely on convention booths for the Gov Innovated exhibition in Canberra, as well as new
      signage for their office, based on their recent rebrand.
    </p>
    <div class="tools-wrap margin-auto">
      <div class="tag">Design</div>
      <div class="tag">Branding</div>
      <div class="tag">Marketing</div>
    </div>

    <gallery class="dark-arrows"></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>
  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

