<!-- PARALLAX 1 -->
<div class="hero" id="enquire-branding-cover">
       <span>
        <h1>Enquire Branding</h1>
      </span>

  <img src="../../../images/portfolio/enquire-branding/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      <a href="https://enquire.net.au/">Enquire</a> is a revolutionary Grant Management system launching to global
      success, working in partnership with
      governments all over the world to provide a reliable system for the distribution of government funds to community
      improvement projects all over their country.
    </p>
    <p>
      Recently they have undergone a rebrand, for which they require new logs for their range of solution streams.
      Working with the original 'Grantcycle Management' logo, I designed 5 variants for each respective solution stream.
      These logos were created with versatility in mind, as such, they can be used as stand alone, or an inverted group
      logo.
    </p>

    <div class="tools-wrap margin-auto">
      <div class="tag">Design</div>
      <div class="tag">Branding</div>
      <div class="tag">Marketing</div>
    </div>

    <gallery></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>
  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

