<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>Android Reimagined</h1>
      </span>

  <img src="../../../images/portfolio/android-reimagined/hero.png"/>
</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      The 'Android Reimagined' concept is a self improvement project that looked at the Android OS, and explored a
      redesign of the interface, while conforming to Google's Material Design Guidelines. It investigates playful
      interactions between bold images, and semi transparent shapes and colours, to create a cohesive and seamless
      experience between applications of all types.
    </p>

    <div class="tools-wrap margin-auto">
      <div class="tag">Prototype</div>
      <div class="tag">Mockup</div>
      <div class="tag">Design</div>
      <div class="tag">App</div>
    </div>

    <gallery></gallery>

    <button [routerLink]="['/portfolio']">Return to Portfolio</button>

  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>
