<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>About</h1>
         <h3>Everything you need to know</h3>
      </span>

  <img src="../../images/about/hero.png"/>
</div>

<!-- ABOUT ME -->
<div class="section-wrapper light">
  <div [@viewportScrollAnimation]="scrollimateOptions.section1.currentState" [scrollimate]="scrollimateOptions.section1"
       class="section-wrapper-inner-content">

    <h1>Profile</h1>
    <p>
      My design principle is to 'Surprise & Delight' the users with unique and intuitive ways to interact with the
      product I am creating.
    </p>
    <p>
      Working as the Lead UI + UX Designer for the breakthrough SAAS company <a href="http://tactiv.net/">Tactiv</a>,
      I have designed and developed three unique pieces of software for their Grant Management platform to both
      modernise their interface, and synchronise the software's appearance with the company's rebrand.
    </p>
    <p>
      In addition, I have freelanced as a Graphic Designer to create signage and assets across digital and print
      mediums. These assets varied widely, and ranged from wall mounted glass, to 3D laser cut acrylic, and multi
      panelled convention booths.
    </p>
  </div>
</div>

<!-- EXPERIENCE AND EDUCATION -->
<div class="section-wrapper dark">
  <div [@viewportScrollAnimation]="scrollimateOptions.section2.currentState" [scrollimate]="scrollimateOptions.section2"
       class="section-wrapper-inner-content">

    <h1>Experience + Education</h1>
    <ul>
      <li>Currently positioned as Lead UI + UX Designer at <a href="http://tactiv.net/">Tactiv</a></li>
      <li>Freelance Graphic Designer</li>
      <li>Visual Merchandiser</li>
      <br>
      <li>Educated With:</li>
      <li>Bachelor of Multimedia Design</li>
      <li>Certificate II in Information technology</li>

    </ul>
  </div>
</div>


<!-- WORKING PROCESS -->
<div class="section-wrapper light">
  <div [@viewportScrollAnimation]="scrollimateOptions.section6.currentState" [scrollimate]="scrollimateOptions.section6"
       class="section-wrapper-inner-content">
    <h1>Working Process</h1>

    <div class="flex">
      <div class="process-step-wrapper">
        <div class="process-circle">
          1
        </div>
        <p>Solution Definition</p>
      </div>
      <div class="process-arrow">
        <span></span>
      </div>
      <div class="process-step-wrapper">
        <div class="process-circle">
          2
        </div>
        <p>Idea Generation</p>
      </div>
      <div class="process-arrow">
        <span></span>
      </div>
      <div class="process-step-wrapper">
        <div class="process-circle">
          3
        </div>
        <p>Wireframes <br> + Low Fidelity Mockups</p>
      </div>
      <div class="process-arrow">
        <span></span>
      </div>
      <div class="process-step-wrapper">
        <div class="process-circle">
          4
        </div>
        <p>Development<br> + QA Testing</p>
      </div>
      <div class="process-arrow">
        <span></span>
      </div>
      <div class="process-step-wrapper">
        <div class="process-circle">
          5
        </div>
        <p>Project Delivery</p>
      </div>
    </div>
  </div>
</div>

<!-- SERVICE PLATFORMS -->
<div class="section-wrapper dark">
  <div class="section-wrapper-inner-content">
    <h1 [@viewportScrollAnimation]="scrollimateOptions.section3.currentState"
        [scrollimate]="scrollimateOptions.section3">Service Platforms</h1>


    <div [@viewportScrollAnimation]="scrollimateOptions.section3.currentState"
         [scrollimate]="scrollimateOptions.section3" class="flex">
      <div class="platform-wrapper">
        <h4>UX + UI Design</h4>
        <p>An intuitive and visually appealing User Interface guarantees your success, and highlights your product in
          all the right
          places</p>
      </div>

      <div class="platform-wrapper">
        <h4>Front End Development</h4>
        <p>It doesn't stop with design. I can nurture your project from an idea, through development, and into a fully
          functioning website</p>
      </div>

      <div class="platform-wrapper">
        <h4>Content Strategy</h4>
        <p>Equally as important as the UI, is the content of your website or app. I can assist in your content strategy,
          ensuring you lead with your best foot forward</p>
      </div>
    </div>

    <div [@viewportScrollAnimation]="scrollimateOptions.section4.currentState"
         [scrollimate]="scrollimateOptions.section4" class="flex">

      <div class="platform-wrapper">
        <h4>Responsive Design</h4>
        <p>Your website will be cross browser and device compatible, to ensure your content looks its best while
          it meets a global
          audience on an array of devices</p>
      </div>

      <div class="platform-wrapper">
        <h4>Web Applications</h4>
        <p>Beyond a traditional website, a Web App offers increased functionality, as well as flexibility, while
          remaining available to anyone with a web browser</p>
      </div>

      <div class="platform-wrapper">
        <h4>Graphic Design</h4>
        <p>In addition to content creation, I can assist in the design and creation of digital assets for your website,
          as well as
          branding or marketing products</p>
      </div>
    </div>
  </div>
</div>

<!-- DEVELOPMENT TOOLS -->
<div class="section-wrapper light">
  <div [@viewportScrollAnimation]="scrollimateOptions.section5.currentState" [scrollimate]="scrollimateOptions.section5"
       class="section-wrapper-inner-content">
    <h1>Tools I Use</h1>
    <div class="tools-wrap margin-auto">
      <div class="tag">Illustrator</div>
      <div class="tag">Photoshop</div>
      <div class="tag">After Effects</div>
      <div class="tag">In Design</div>
      <div class="tag">Premiere Pro</div>
      <div class="tag">Unity 3D</div>
      <div class="tag">Atomic.io</div>
      <div class="tag">Balsamiq</div>
      <div class="tag">Google Analytics</div>
      <div class="tag">Github</div>
      <div class="tag">Amazon Web Services</div>
      <div class="tag">Elastic</div>
      <div class="tag">HTML</div>
      <div class="tag">CSS</div>
      <div class="tag">Sass</div>
      <div class="tag">Angular 2</div>
      <div class="tag">Typescript</div>
      <div class="tag">Javascript</div>
      <div class="tag">JSON</div>
      <div class="tag">AJAX</div>
      <div class="tag">Node</div>
      <div class="tag">Gulp</div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>


