<!-- PARALLAX 1 -->
<div class="hero">
       <span>
        <h1>Enquire Client Portal</h1>
      </span>

  <img src="../../../images/portfolio/enquire-client-portal/hero.png"/>

</div>

<!-- PORTFOLIO -->
<div class="section-wrapper">

  <div class="section-wrapper-inner-content">
    <h1>Overview</h1>

    <p>
      <a href="https://enquire.net.au/">Enquire</a> is a revolutionary Grant Management system launching to global
      success, working in partnership with
      governments all over the world to provide a reliable system for the distribution of government funds to community
      improvement projects all over their country.
    </p>
    <p>
      The Client Portal is the public facing webapp that allows users to apply for grants and funding from the
      respective Enquire client. This portal steps the users through the process of applying for funding, and interfaces
      directly with the Management Portal for the applications to be processed by government workers. Subject to
      approval, the public users then maintain their project through the Client Portal, keeping the funding provider
      informed about the projects process, and any changes to their original applications information.
    </p>
    <p>Considering this webapp is public facing, and will be utilised by a significantly larger group of people that the
      Management Portal or Administration Console, it was imperative that the Client Portal be as user friendly as
      possible, and the results from users have spoken for themselves.</p>

    <gallery></gallery>


    <button [routerLink]="['/portfolio']">Return to Portfolio</button>

  </div>
</div>

<!-- FOOTER -->
<sd-footer></sd-footer>

